USE [master]
GO
/****** Object:  Database [T27-API_ER_SQL_EX1]    Script Date: 05/02/2021 12:48:39 ******/
CREATE DATABASE [T27-API_ER_SQL_EX1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T27-API_ER_SQL_EX1', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T27-API_ER_SQL_EX1_log', FILENAME = N'/var/opt/mssql/data/T27-API_ER_SQL_EX1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T27-API_ER_SQL_EX1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T27-API_ER_SQL_EX1]
GO
/****** Object:  Table [dbo].[PIEZAS]    Script Date: 05/02/2021 12:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZAS](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 05/02/2021 12:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[Id] [char](4) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMINISTRA]    Script Date: 05/02/2021 12:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMINISTRA](
	[CodigoPieza] [int] NOT NULL,
	[IdProveedor] [char](4) NOT NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PK_Suministra] PRIMARY KEY CLUSTERED 
(
	[CodigoPieza] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PIEZAS] ON 

INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (1, N'Pieza1')
INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (2, N'Pieza2')
INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (3, N'Pieza3')
SET IDENTITY_INSERT [dbo].[PIEZAS] OFF
GO
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'1   ', N'Proveedor 1')
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'10  ', N'Proveedor 10')
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'2   ', N'Proveedor 2')
GO
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (1, N'10  ', 110)
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (2, N'8   ', 1)
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (2, N'9   ', 109)
GO
ALTER TABLE [dbo].[SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([CodigoPieza])
REFERENCES [dbo].[PIEZAS] ([Codigo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
ON UPDATE CASCADE
GO
USE [master]
GO
